.title-container{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  align-items:center;
}
.title{
  font-size:2.2rem;
}
.sort-input{
  width:5rem;
  height:1rem;
  background:#F7F4E5;
  outline:none;
  border:none;
}
.products{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-auto-flow:row;
  padding:10px;
  max-height: 30rem;
  overflow-y: scroll;
}
.category-container{
    height:100%;
    background: linear-gradient(0deg, rgba(0,49,63,1) 0%, rgba(247,244,229,1) 100%);

}
