.purchase-item-container{
  height:6.8rem;
  padding:10px;
  width:100%;
  background:rgba(2, 163, 187, 0.19);
  display:flex;
  gap:1rem;
  box-shadow: 2px 4px 6px 0px #000000;
}
.figure{
  width:7rem;
  height:5rem;
  background:grey;
}
.image{
  width:100%;
  height:100%;
}
.info-container{
  display:flex;
  flex-direction:column;
  width:54%;
}
.title{
  font-size:1.4rem;
  align-self:center;
}
.cant-text{
  font-size:1rem;
  color:white;
  margin: 0;
}
.regular-text{
  color:black;
}
.info-space{
  gap:1px;
}
