<div class="purchase-item-container">
  <figure class="figure">
    <img src="{{item.urlImg}}" alt="" class="image">
  </figure>
  <div class="info-container">
    <p class="title">{{item.nombre}}</p>
    <div class="row info-space">
      <p class="cant-text">Cant: <span class="regular-text">{{cantidad}}</span> </p>
      <p class="cant-text">Precio: <span class="regular-text">{{item.precio}}</span> </p>
      <p class="cant-text">total: <span class="regular-text">{{total}}</span> </p>
    </div>
  </div>

</div>
