<app-header></app-header>
<figure class="styledFigure">
  <img src="{{item.urlImg}}" alt="product-img" class="image">
</figure>
<p class="title">{{item.nombre}}</p>
<div class="size-container">
  <p class="available-size">Price: <span class="price">${{item.precio}}</span></p>
  <p class="available-size">Available Size:</p>
  <div class="size-number-container">
    <app-sizes size="7"></app-sizes>
    <app-sizes size="8"></app-sizes>
    <app-sizes size="8.5"></app-sizes>
    <app-sizes size="9"></app-sizes>
  </div>
  <app-addcartbtn title = "Add to Cart"></app-addcartbtn>

</div>
