.item{
  will-change: opacity;
  position: relative;
  min-width: 200px;
  transition: 450ms all;
  box-shadow: 5px 5px 10px rgba(0,0,0, .3);
  transform-origin: center left;
  cursor: pointer;


}
.item:hover{

  transform: scale(1.2);
  opacity: 1;

}
.item-figure{
  background:gray;
  width: 100%;
  height: 100%;

}
.styledImg{
  width: 100%;
  height: 100%;
}
